/* Common Layout Utilities */

.gps-container {
  max-width: 100%;
  margin: 0 auto;
}

.gps-flex {
  display: flex;
}

.gps-flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gps-flex--align-center {
  display: flex;
  align-items: center;
}

.gps-flex--justify-center {
  display: flex;
  justify-content: center;
}

.gps-flex--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Common spacing utilities */
.gps-margin-auto {
  margin-inline: auto;
}

.gps-margin-start-auto {
  margin-inline-start: auto;
}

.gps-margin-end-auto {
  margin-inline-end: auto;
}

 